.sidebar > h4 {
  display: block;
  text-align: center;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  min-width: 12rem;
  min-height: 90vh;
}

.mainNav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.project h4 {
  margin-bottom: 1rem;
}

.projects ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.projectsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.projectsHeader button {
  background-color: var(--button-secondary-background);
  color: var(--button-secondary-foreground);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
}
